<!DOCTYPE html>
<html>
    <title>What's Kiko App</title>
    <head>
    <% include meta.html %>
    </head>
     
      <body>
          <div id="root"></div>
      </body>
      <script src="/bundle/info.bundle.js"></script>
      </html>