<!DOCTYPE html>
<html>
    <title>Kiko App</title>
    <head>
    <% include meta.html %>
    </head>
      <script>
      const AUTH='<%- auth %>' ;
     
      </script>
      <body>
          <div id="root"></div>
      </body>
      <script src="/bundle/login.bundle.js"></script>
      </html>